<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Task4Database" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-OQRTOO7;Initial Catalog=Task4Database;User Id=sa;Password=1234;"/>
  </connectionStrings>
  <appSettings>
    <add key="sourceFolder" value="d:\temp\"/>
    <add key="destFolder" value="d:\temp\backup\"/>
    <add key="searchPattern" value="*.csv"/>
    <add key="logPath" value="D:\\temp\log\LogFile.txt"/>
  </appSettings>
</configuration>